// ===== CARDS =====
.cards{
    margin-bottom: 100px;
    .card{
        &-item{
            border-radius: 12px;
            background: var(--white, #FFF);
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
            width: 100%;
            max-width: 276px;
            flex-shrink: 0;
            padding: 32px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            &-title{
                color: #1C1C1C;
            }
            &-text{
                font-size: 32px;
                line-height: 32px;
                font-weight: 600;
                color: #1C1C1C;
            }
        }
    }
}
// ===== VOLONTYORS ======
.volontyor{
    padding: 16px 0 16px 16px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 100px;
    &-img{
        border-radius: 12px;
        border: 1px solid var(--grey, #F3F3F3);
        background: url(<path-to-image>), lightgray 0px -6.138px / 100% 120.12% no-repeat;
        }
    &-wrapper{
        h2{
            font-size:24px;
            line-height: 40px;
            font-weight: 600;
        }

    }
    &-text{
        padding-right: 48px;
        &-one{
            margin-bottom: 13.5px;

        }
    }
    &-divider{
        width: 580px;
        height: 1px;
        background: #EAEAEA;
        margin-bottom: 16.5px;
    }
}